    {% load static %}
    <!DOCTYPE html>
    <html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
        <!-- Author Meta -->
        <meta name="author" content="codepixer">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>Security</title>
        <style>
         #home {
        background: url(./static/img/blog.jpg) center repeat;
        background-size: cover;
        {% comment %} -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover; {% endcomment %}
        position: relative;
        min-height: 50em;
        }

        {% comment %} .banner-area-about .overlay-bg-about {

        background-color: rgba(19, 19, 18, 0.3);
        } {% endcomment %}
      </style>
        {% comment %} <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">  {% endcomment %}
            <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
        </head>
        <body>

              <header id="header" id="home">
                <div class="container header-top">
                    <div class="row">
                        <div class="col-6 top-head-left">                           
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100015951366749"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/RishiSh94075"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/rishi-sharma-278999152/"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://github.com/kampaitees"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-6 top-head-right">
                            <ul>
                                <li><a href="tel:+91 94075 25943"><span>+91 94075 25943</span> <span class="lnr lnr-phone-handset"></span></a></li>
                                <li><a href="#">Register / Login</a></li>
                            </ul>
                        </div>                      
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="row align-items-center justify-content-between d-flex">
                      <div id="logo">
                        <a href="home"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
                      </div>
                      <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li class="menu-active"><a href="home">Home</a></li>
                          <li><a href="upload-database">Upload To Database</a></li>
                          <li><a href="about">About Us</a></li>
                          <li><a href="team">Team</a></li>
                          <li><a href="blog-home">Blog</a></li>    
                          <li><a href="contact">Contact</a></li>                     
                        </ul>
                      </nav><!-- #nav-menu-container -->                    
                    </div>
                </div>
              </header><!-- #header -->
        
            <!-- start banner Area -->
            <section class="banner_prime relative" id="home">    
                <div class="overlay overlay_prime" ></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Blog Single               
                            </h1>   
                            <p class="text-white link-nav"><a href="home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-single"> Blog Single</a></p>
                        </div>                                          
                    </div>
                </div>
            </section>
            <!-- End banner Area -->    
			
			<!-- Start blog-posts Area -->
			<section class="blog-posts-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 post-list blog-post-list">
							<div class="single-post">
								<img class="img-fluid" src="{% static 'img/blog/IS-LAW-CATCHING-UP.jpg' %}" alt="">
								<ul class="tags">
									<li><a href="#">Art</a></li>
									<li><a href="#">Technology</a></li>
									<li><a href="#">Fashion</a></li>
								</ul>
								<a href="https://sahaysdailypost.com/is-law-catching-up/">
									<h1>
										IS LAW CATCHING UP?
									</h1>
								</a>
								<div class="content-wrap">
									<p>
                                    Given pace of digital technology, the intensity and all pervasiveness of cyber space pushing ahead unabated, one needs to pause and think as to where is the legal framework to support it. To have a check on the seemingly unruled and unregulated IT behemoths and to provide succour to the ongoing loot of data worldwide. The emerging / disruptive technologies are bound to change the world beyond recognition and the law as the sentinel of the masses has to emerge in the same manner as disruptive and emerging technologies have.

									</p>

									<p>
                                    The court software / algorithm would give the acceptance after going through fed  parameters, physical intervention if required, the summons / warrants would be served online with copies to all process authorities with defined roles, the trial to be conducted through video, on acceptable gadgets / programs, the collation – the narratives automatically happening with ensuing orders on every date of hearing / trail and finally the the essential facts / findings with rudimentary evaluation would be put up for the final judgement before the presiding judge. Undeniably, legal / procedural enablements need to happen.
                                    </p>

                                    <p>
                                    Technically it can happen forthwith. The other bottlenecks have still to be ironed out, it would be paradigm shift for all stakeholders in all their operations. It can be extrapolated to other laws in whatever area vis a vis the present level of digital technology. We have to reach this operational point at the earliest to make our legal onslaught on the disruptive technologies impact on systems / human life. The world is at the crossroads of technology and law.
                                    </p>

									<blockquote class="generic-blockquote">
                                    LAW HAS TO ALIGN WITH TECHNOLOGY TO EVOLVE THE NEW DIGITAL AGE RULE OF LAW FRAMEWORK.
									</blockquote>
    

								</div>
								<div class="bottom-meta">
									<div class="user-details row align-items-center">
										<div class="comment-wrap col-lg-6 col-sm-6">
											<ul>
												<li><a href="#"><span class="lnr lnr-heart"></span>	4 likes</a></li>
												<li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
											</ul>
										</div>
										<div class="social-wrap col-lg-6">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
											</ul>
											
										</div>
									</div>
								</div>

                            <!-- Start nav Area -->
                            <section class="nav-area pt-50 pb-100">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="col-sm-6 nav-left justify-content-start d-flex">
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/prev.jpg' %}" alt="">
                                            </div>
                                            <div class="post-details">
                                                <p>Prev Post</p>
                                                <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 nav-right justify-content-end d-flex">
                                            <div class="post-details">
                                                <p>Prev Post</p>
                                                <h4 class="text-uppercase"><a href="#">A Discount Toner</a></h4>
                                            </div>             
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/next.jpg' %}" alt="">
                                            </div>                         
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <!-- End nav Area -->

                            <!-- Start comment-sec Area -->
                            <section class="comment-sec-area pt-80 pb-80">
                                <div class="container">
                                    <div class="row flex-column">
                                        <h5 class="text-uppercase pb-80">05 Comments</h5>
                                        <br>
                                        <div class="comment-list">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        <img src="{% static 'img/blog/c1.jpg' %}" alt="">
                                                    </div>
                                                    <div class="desc">
                                                        <h5><a href="#">Emilly Blunt</a></h5>
                                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                                        <p class="comment">
                                                            Never say goodbye till the end comes!
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="reply-btn">
                                                       <a href="" class="btn-reply text-uppercase">reply</a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-list left-padding">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        <img src="{% static 'img/blog/c2.jpg' %}" alt="">
                                                    </div>
                                                    <div class="desc">
                                                        <h5><a href="#">Emilly Blunt</a></h5>
                                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                                        <p class="comment">
                                                            Never say goodbye till the end comes!
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="reply-btn">
                                                       <a href="" class="btn-reply text-uppercase">reply</a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-list left-padding">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        <img src="{% static 'img/blog/c3.jpg' %}" alt="">
                                                    </div>
                                                    <div class="desc">
                                                        <h5><a href="#">Emilly Blunt</a></h5>
                                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                                        <p class="comment">
                                                            Never say goodbye till the end comes!
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="reply-btn">
                                                       <a href="" class="btn-reply text-uppercase">reply</a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-list">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        <img src="{% static 'img/blog/c4.jpg' %}" alt="">
                                                    </div>
                                                    <div class="desc">
                                                        <h5><a href="#">Emilly Blunt</a></h5>
                                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                                        <p class="comment">
                                                            Never say goodbye till the end comes!
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="reply-btn">
                                                       <a href="" class="btn-reply text-uppercase">reply</a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-list">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        <img src="{% static 'img/blog/c5.jpg' %}" alt="">
                                                    </div>
                                                    <div class="desc">
                                                        <h5><a href="#">Emilly Blunt</a></h5>
                                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                                        <p class="comment">
                                                            Never say goodbye till the end comes!
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="reply-btn">
                                                       <a href="" class="btn-reply text-uppercase">reply</a> 
                                                </div>
                                            </div>
                                        </div>                                                                                                                                                                
                                    </div>
                                </div>    
                            </section>
                            <!-- End comment-sec Area -->
                            
                            <!-- Start commentform Area -->
                            <section class="commentform-area pt-80">
                                <div class="container">
                                    <h5 class="pb-50">Leave a Reply</h5>
                                    <div class="row flex-row d-flex">
                                        <div class="col-lg-4 col-md-6">
                                            <input name="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">
                                            <input name="email" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" class="common-input mb-20 form-control" required="" type="email">
                                            <input name="Subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Subject'" class="common-input mb-20 form-control" required="" type="text">

                                        </div>
                                        <div class="col-lg-8 col-md-6">
                                            <textarea class="form-control mb-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                            <a class="primary-btn mt-20" href="#">Comment</a>
                                        </div>
                                    </div>
                                </div>    
                            </section>
                            <!-- End commentform Area -->


							</div>																		
						</div>
						<div class="col-lg-4 sidebar">
							<div class="single-widget search-widget">
								<form class="example" action="#" style="margin:auto;max-width:300px">
								  <input type="text" placeholder="Search Posts" name="search2">
								  <button type="submit"><i class="fa fa-search"></i></button>
								</form>								
							</div>

							<div class="single-widget protfolio-widget">
								<img src="{% static 'img/blog/sanjay_sahay_dp.jpg' %}" alt="">
								<a href="https://sahaysdailypost.com/"><h4>Sanjay Sahay</h4></a>
								<p>
								He is a professional public speaker on large number of topics ranging from Computational Journalism to Organ Transplantation. 
                                Technology and management topics are his mainstay mainly ERP, IT Project Management, Change Management, Leading through Conflict 
                                and the like.</p>
                                <p>He is also an accomplished high degree of professionalism in wide and varied professional assignments and finally 
                                got groomed and refined into an officer who has 360 degrees experience of all policing tasks, simultaneously maintaining keen 
                                interest in all staff functions and a passion for usage of appropriate technology in policing at all levels and in all fields.

								</p>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.linkedin.com/in/ssahay65/"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
								</ul>								
							</div>

							<div class="single-widget category-widget">
								<h4 class="title">Post Categories</h4>
								<ul>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Techlology</h6> <span>37</span></a></li>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Lifestyle</h6> <span>24</span></a></li>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fashion</h6> <span>59</span></a></li>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Art</h6> <span>29</span></a></li>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Food</h6> <span>15</span></a></li>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Architecture</h6> <span>09</span></a></li>
									<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Adventure</h6> <span>44</span></a></li>
								</ul>
							</div>

                            <div class="single-widget recent-posts-widget">
                                <h4 class="title">Recent Posts</h4>
                                <div class="blog-list ">
                                    <div class="single-recent-post d-flex flex-row">
                                        <div class="recent-thumb">
                                            <img class="img-fluid" src="{% static 'img/blog/b3.jpg' %}" width="80" height="80" alt="">
                                        </div>
                                        <div class="recent-details">
                                            <a href="https://sahaysdailypost.com/national-research-audit/">
                                                <h4>
                                                    NATIONAL
							                        RESEARCH AUDIT
                                                </h4>
                                            </a>
                                            <p>
                                                01 day ago
                                            </p>
                                        </div>
                                    </div>  
                                    <div class="single-recent-post d-flex flex-row">
                                        <div class="recent-thumb">
                                            <img class="img-fluid" src="{% static 'img/blog/b2.jpg' %}" width="80" height="80" alt="">
                                        </div>
                                        <div class="recent-details">
                                            <a href="https://sahaysdailypost.com/technology-solutions/">
                                                <h4>
                                                    TECHNOLOGY SOLUTIONS(A.I.)
                                                </h4>
                                            </a>
                                            <p>
                                                02 day ago
                                            </p>
                                        </div>
                                    </div>  
                                    <div class="single-recent-post d-flex flex-row">
                                        <div class="recent-thumb">
                                            <img class="img-fluid" src="{% static 'img/blog/b1.jpg' %}" width="80" height="80" alt="">
                                        </div>
                                        <div class="recent-details">
                                            <a href="https://sahaysdailypost.com/innovator-entrepreneurs/">
                                                <h4>
                                                    INNOVATOR ENTREPRENEURS
                                                </h4>
                                            </a>
                                            <p>
                                                03 day ago
                                            </p>
                                        </div>
                                    </div>  
                                    <div class="single-recent-post d-flex flex-row">
                                        <div class="recent-thumb">
                                            <img class="img-fluid" src="{% static 'img/blog/b4.jpg' %}" width="80" height="80" alt="">
                                        </div>
                                        <div class="recent-details">
                                            <a href="https://sahaysdailypost.com/cyber-security-white-paper/">
                                                <h4>
                                                    CYBER SECURITY WHITE PAPER
                                                </h4>
                                            </a>
                                            <p>
                                                04 day ago
                                            </p>
                                        </div>
                                    </div>                                                                                                                                                  
                                </div>                              
                            </div>

							<div class="single-widget category-widget">
								<h4 class="title">Post Archive</h4>
								<ul>
									<li><a href="https://sahaysdailypost.com/2019/07/" class="justify-content-between align-items-center d-flex"><h6>Jul '19</h6> <span>7</span></a></li>
									<li><a href="https://sahaysdailypost.com/2019/06/" class="justify-content-between align-items-center d-flex"><h6>Jun '19</h6> <span>31</span></a></li>
									<li><a href="https://sahaysdailypost.com/2019/05/" class="justify-content-between align-items-center d-flex"><h6>MAY '19</h6> <span>30</span></a></li>
									<li><a href="https://sahaysdailypost.com/2019/04/" class="justify-content-between align-items-center d-flex"><h6>APR '19</h6> <span>30</span></a></li>
									<li><a href="https://sahaysdailypost.com/2019/03/" class="justify-content-between align-items-center d-flex"><h6>Mar '19</h6> <span>31</span></a></li>
									<li><a href="https://sahaysdailypost.com/2019/02/" class="justify-content-between align-items-center d-flex"><h6>Feb '19</h6> <span>28</span></a></li>
									<li><a href="https://sahaysdailypost.com/2019/01/" class="justify-content-between align-items-center d-flex"><h6>Jan '19</h6> <span>31</span></a></li>
								</ul>
							</div>			

							<div class="single-widget tags-widget">
								<h4 class="title">Tag Clouds</h4>
								 <ul>
								 	<li><a href="#">Lifestyle</a></li>
								 	<li><a href="#">Art</a></li>
								 	<li><a href="#">Adventure</a></li>
								 	<li><a href="#">Food</a></li>
								 	<li><a href="#">Techlology</a></li>
								 	<li><a href="#">Fashion</a></li>
								 	<li><a href="#">Architecture</a></li>
								 	<li><a href="#">Food</a></li>
								 	<li><a href="#">Technology</a></li>
								 </ul>
							</div>				

						</div>
					</div>
				</div>	
			</section>
			<!-- End blog-posts Area -->
			

            <!-- start footer Area -->      
            <footer class="footer-area section-gap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h6>About Me</h6>
                                <p>
                                I'm a 3rd year Undergraduate Student doing my Btech from NITK Surathkal, Karnataka
                                </p>
                                                               
                            </div>
                        </div>
                        <div class="col-lg-5  col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h6>Newsletter</h6>
                                <p>Stay update with our latest</p>
                                <div class="" id="mc_embed_signup">
                                    <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                        <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                            <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                            <div style="position: absolute; left: -5000px;">
                                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                            </div>

                                        <div class="info"></div>
                                    </form>
                                </div>
                            </div>
                        </div>                      
                        <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                            <div class="single-footer-widget">
                                <h6>Follow Me</h6>
                                <p>Let us be social</p>
                                <div class="footer-social d-flex align-items-center">
                                    <a href="https://www.facebook.com/profile.php?id=100015951366749"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/RishiSh94075"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/rishi-sharma-278999152/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://github.com/kampaitees"><i class="fa fa-github"></i></a>
                                </div>
                            </div>
                        </div>                          
                    </div>
                </div>
            </footer>   
            <!-- End footer Area -->        

            <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>			
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>	
			<script src="{% static 'js/waypoints.min.js' %}"></script>
			<script src="{% static 'js/jquery.counterup.min.js' %}"></script>					
			<script src="{% static 'js/parallax.min.js' %}"></script>		
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>  
        </body>
    </html>



