	{% load static %}
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Security</title>

		{% comment %} <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">  {% endcomment %}
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>

			  <header id="header" id="home">
			  	<div class="container header-top">
			  		<div class="row">
				  		<div class="col-6 top-head-left">				  			
				  			<ul>
		  						<li><a href="https://www.facebook.com/profile.php?id=100015951366749"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/RishiSh94075"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/rishi-sharma-278999152/"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://github.com/kampaitees"><i class="fa fa-github"></i></a></li>
				  			</ul>
				  		</div>
				  		<div class="col-6 top-head-right">
				  			<ul>
				  				<li><a href="tel:+91 94075 25943"><span>+91 94075 25943</span> <span class="lnr lnr-phone-handset"></span></a></li>
				  				<li><a href="#">Register / Login</a></li>
				  			</ul>
				  		</div>			  			
			  		</div>
			  	</div>
			  	<hr>
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="home"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="home">Home</a></li>
						  <li><a href="upload-database">Upload To Database</a></li>
				          <li><a href="about">About Us</a></li>
				          <li><a href="team">Team</a></li>
				          <li><a href="blog-home">Blog</a></li>	
				          <li><a href="contact">Contact</a></li>			          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area-team relative" id="home">	
				<div class="overlay overlay-bg-team"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Team Members		
							</h1>	
							<p class="text-white link-nav"><a href="home">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="team"> Team Members</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start team Area -->
			<section class="team-area section-gap team-page-teams" id="team">
				<div class="container">

					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">OUR TEAMS</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>

					<div class="row justify-content-center d-flex align-items-center">
						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img style='width:200px; height: 200px' class="img-fluid" src="{% static 'img/Rishi Sharma.jpg' %}" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									<a href="https://www.facebook.com/profile.php?id=100015951366749"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/RishiSh94075"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/rishi-sharma-278999152/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://github.com/kampaitees"><i class="fa fa-github"></i></a>
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Rishi Sharma</h4>
							    <p>3rd Year Btech Undergraduate</p>									    	
						    </div>
						</div>

						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img style='width:200px; height: 200px' class="img-fluid" src="{% static 'img/prakash_1.jpeg' %}" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									<a href="https://www.facebook.com/vampboyy"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/V_a_m_p_B_o_y"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com/in/vampboy/"><i class="fa fa-linkedin"></i></a>
									<a href="https://github.com/Vampboy"><i class="fa fa-github"></i></a>
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Prakash Narasanagi</h4>
							    <p>Undergraduate Student</p>			    	
						    </div>
						</div>

						{% comment %} <div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="{% static 'img/pages/t3.jpg' %}" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Dora Walker</h4>
							    <p>Senior Core Developer</p>			    	
						    </div>
						</div>

						<div class="col-md-3 single-team">
						    <div class="thumb">
						        <img class="img-fluid" src="{% static 'img/pages/t4.jpg' %}" alt="">
						        <div class="align-items-center justify-content-center d-flex">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
						        </div>
						    </div>
						    <div class="meta-text mt-30 text-center">
							    <h4>Rodney Cooper</h4>
							    <p>Creative Art Director (Project)</p>			    	
						    </div>
						</div>																																				 {% endcomment %}
					</div>
				</div>	
			</section>
			<!-- End team Area -->					

			<!-- Start fact Area -->
			<section class="facts-area section-gap" id="facts-area">
				<div class="container">
					<div class="row">
						<div class="col single-fact">
							<h1 class="counter">2536</h1>
							<p>Projects Completed</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">6784</h1>
							<p>Really Happy Clients</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">1059</h1>
							<p>Total Tasks Completed</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">2239</h1>
							<p>Cups of Coffee Taken</p>
						</div>	
						<div class="col single-fact">
							<h1 class="counter">435</h1>
							<p>In House Professionals</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end fact Area -->										

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
								I'm a 3rd year Undergraduate Student doing my Btech from NITK Surathkal, Karnataka
								</p>
																
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Me</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="https://www.facebook.com/profile.php?id=100015951366749"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/RishiSh94075"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/rishi-sharma-278999152/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://github.com/kampaitees"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->		

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>			
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>	
			<script src="{% static 'js/waypoints.min.js' %}"></script>
			<script src="{% static 'js/jquery.counterup.min.js' %}"></script>					
			<script src="{% static 'js/parallax.min.js' %}"></script>		
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
		</body>
	</html>



